.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.container-categorie {
    margin-top: 30px;
}

.btn-width {
    width: 150px;
}

.form-delete {
    display: inline;
}

.button-new-category {
    margin: 15px 0;
}