<%- include ('../../partials/header.ejs') %>

<div class="container">
    <div class="card mt-4">
        <div class="card-header">
            <h2>Criar Usuário</h2>
        </div>
        <div class="card-body">
            <form action="/users/create" method="POST">
                <input type="email" name="email" class="form-control mb-3" placeholder="email@exemplo.com">
                <input type="password" name="password" class="form-control mb-3" placeholder="********">
                <button class="btn btn-dark btn-block">Criar</button>
            </form>
        </div>
    </div>
</div>

<%- include ('../../partials/footer.ejs') %>